/*  Name: Kevin Vuong
 *  Student number: 10730141
 */

/* align the header on the middle of the page */
h1 {
    text-align: center;
}

/* markup each line, with a width of 2px and no filling*/
.line {
    fill: none;
    stroke-width: 2px;
}

/* markup for the crosshair lines */
line {
  fill: none;
  stroke-dasharray: 5;
  stroke-width: 1.5;
  stroke: gray;
}

/* markup for the tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 55px;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    pointer-events: none;
}

/* markup plot title */
#plottitle {
    color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 30px;
    text-align: center;
    text-anchor: middle;
}

/* markup for data footer */
.data {
    font: 20px arial;
    display: block;
    width: 150px;
    text-align: center;
}

/* markup for data footer when mouse hovering above it */
sup:hover {
    background-color: blue;
    cursor: pointer;
}
